.col-md-6.bundle-item.mb-5.d-flex.align-items-stretch{ id: "offer-#{offer.id}" }
  .card
    .card-body
      %h4.card-title.mb-1
        = offer.name
      .text-muted.mb-3
        = _("Provided by #{offer.service.name}")
      %p
        .card-text.mb-2{ "data-controller" => "paragraph" }
        = render "services/offers/bundle_parameters",
              technical_parameters: offer.attributes.map(&:to_json)
