- if technical_parameters.present?
  .bundle-box
    %h5.parameters-title
      = _("Available Technical Parameters")
    %table.offer-params.table.table-borderless
      %tbody
        - technical_parameters.each do |parameter|
          %tr
            %td= parameter["label"]
            %td.text-right.text-nowrap.font-weight-bold= parse_offer_parameter_value(parameter)
    - if local_assigns[:research_steps].present?
      %h5.parameters-title.mb-0.mt-4
        %i.fas.fa-tachometer-alt
      = _("Research steps")
      %ul
        - research_steps.each do |rs|
          %li= rs.name
    - if local_assigns[:contact_email].present?
      = mail_to contact_email, _("Contact bundle support")
    - if local_assigns[:related_training].present?
      = link_to _("Access training"), related_training
